* { 
    margin: 0px; 
    padding: 0px; 
}

.container { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.container h1 { 
    margin-top: 20px; 
    margin-left: -20px;
}


.profilePicture { 
    margin-left: 2rem; 
    border-radius: 50%;
    border-color: cadetblue;
    width: 100px; 
    height: 100px; 
    border-image-width: 500px; 
    margin-right: 2rem; 
}

.fa { 
    font-size: 50px; 
    width: 35px;
    text-align: center;  
    text-decoration: none; 
    border-radius: 50%; 
    color: dimgray; 

}

.icons { 
    display: flex; 
    flex-direction: row;
    margin-top: -35px; 
    margin-left: -40px;
    border-image-width: 0px;
    justify-content: center; 
    align-items: center; 
    font-size: 30px;
}

body { 
    background-color: whitesmoke; 
} 


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.timeline {
    margin: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    margin-bottom: 20px;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 100px; /* Adjust the size as needed */
    border-radius: 5px;
}

.content {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}

h3 {
    margin-top: 0;
}

.date {
    font-size: 0.8em;
    color: #888;
}


@media only screen and (max-width: 768px) { 

}



/* old media
/* @media (max-width: 600px) {
    .container { 
     display: flex; 
     flex-direction: column; 
    }
 
     .icons {
         display: flex; 
         flex-direction: row; 
         margin-top: 10px; /* Adjust as needed */
          
     /*}
     .profilePicture { 
         display: flex; 
         flex-direction: column;
     }
     
    } 



