.container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: row;  
    margin-top: 20px; 
}

.profilePicture { 
    margin-left: 2rem; 
    border-radius: 50%;
    border-color: cadetblue;
    width: 100px; 
    height: 100px; 
    border-image-width: 500px; 
}

.fa { 
    font-size: 50px; 
    width: 35px;
    text-align: center;  
    text-decoration: none; 
    border-radius: 50%; 
    color: dimgray; 

}

.icons { 
    display: flex; 
    flex-direction: row;
    margin-top: -35px; 
    border-image-width: 0px;
    justify-content: center; 
    align-items: center; 
    font-size: 25px;
    margin-right: 10px;

}

body { 
    background-color: whitesmoke; 
} 


@media (max-width: 600px) {
    .icons {
        display: flex; 
        flex-direction: column; 
        margin-top: -25px; /* Adjust as needed */
         
    }
} 

